
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header, main, footer {
    max-width: 1000px;
    padding: 1rem;
}

.menu-btn {
    cursor: pointer; 
    border: none;
    background-color: transparent;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

nav {
    padding-top: 15px;
    font-size: 1.2em;
    gap: 15px;
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.unhide {
    display: flex;
    flex-direction: column;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 4px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

header {
    background-color: #4974B1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: #AAB6C6;
    text-align: center;
    

}

footer {
    background-color: #4974B1;
    text-align: center;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

dialog img {
    /* position: fixed;
    top: 25%;
    left: 10%;
    border: none; */
    object-fit: cover;
    max-width: 80vw;
    max-height: 80vw;
    height: auto;
    width: auto;
    border: none;
    margin-top: 10vh;
}

#x-button {
    position: fixed;
    /* top: 20%;
    right: 5%;
    padding: 3px 6px; */
    margin-top: 5vh;
    margin-left: 80vw;
    font-size: 1.5em;
    position: fixed;
}

@media (min-width: 500px) {

    /* nav a {
        display: inline;
        padding-top: 20px;
        text-decoration: none;
        color: white;
    }

    .menu-btn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-top: 0;
    }

    .unhide {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-top: 0;
    } */

    #img-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    dialog img {
        max-width: 80vw;
        max-height: 80vh;
        width: auto;
        height: auto;
    }
    
}

@media (min-width: 1000px) {

    header, main, footer {
        max-width: none;
    }

    main {
        display: gird;
        grid-template-columns: 1fr 1fr;
    }

    nav a {
        display: inline;
        padding-top: 20px;
        text-decoration: none;
        color: white;
    }

    .menu-btn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-top: 0;
    }

    .unhide {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-top: 0;
    }
}